   
@model List<CompxERP.Models.clsPF_Receipt> 
 

 <div class="col-sm-12">
     
    <table id="tblPendingOrder" class="table table-bordered table-striped" style="margin-top:10px;">
    <thead>
  
      <tr>
         
          <th style="width:2%;"> NO </th>
          <th style="width:6%;"> Entry Dt. </th>
          <th style="width:19%;"> Dealer Name </th>
          <th style="width:4%;"> Mode </th>
          <th style="width:8%;">Amount</th>   
            <th style="width:5%;">Access</th>
          <th style="width:18%;">Bank</th>
          <th style="width:6%;">Type</th>
          <th style="width:6%;">No</th>
          <th style="width:6%;">Date</th> 
          <th style="width:15%;">Status</th> 
   
        </tr>
    </thead>
    <tbody style="height:500px;">
           @{
               var iIndex = 0; var Amount = 00.00; 
               if (Model != null && Model.Count > 0)
               {
                   foreach (var item in Model)
                   {
                       iIndex = iIndex + 1;
                       Amount =   Amount  + Convert.ToDouble( @item.Amount);
               <tr>   
                   @*Amount = @item.Amount;*@
                 

<td style="width:2%">@iIndex</td>
<td style="width:6%">@item.MstDate.ToString("dd-MM-yyyy")</td> 
<td style="width:19%">@item.acctname</td>  
<td style="width:4%">@item.sMode</td>  
<td style="width:8%;text-align:right">@string.Format("{0:N}",@item.Amount)  </td> 
<td style="width:5%;text-align:right">@string.Format("{0:N}",@item.AccessAmt)  </td> 
<td style="width:18%" >@item.Bank</td> 
<td style="width:6%"  >@item.sType</td> 
<td style="width:6%" >@item.ChqNo</td> 
<td style="width:6%" >@item.ChqDate.ToString("dd-MM-yyyy")</td> 
                   @if (@item.sStatus == "Under Process"  && @CompxERP.Models.SessionMaster.UserType < 2)
                   {
<td style="width:20%" > <input type="button" id="btnPFVerified" value= "Verified"  onclick="SetPFVerified(@item.DealerID , @item.ID ,1)" class="btn btn-search" />  <input type="button" id="btnPFNotVerified" value= "Not Verified"  onclick="    SetPFVerified(@item.DealerID , @item.ID ,2)" class="btn btn-search" /></td>
                   }
                   else
                   {
<td style="width:20%" > @item.sStatus</td>
                   }
                   
                </tr>
                   }
            
             <tr>   
<td colspan="4" style="width:31%;text-align:center;color:red">Total</td> 
<td style="width:8%;color:red;text-align:right"><b> @string.Format("{0:N}",@Amount) </b> </td> 
<td style="width:18%" ></td> 
<td style="width:6%"  ></td> 
<td style="width:6%" ></td> 
<td style="width:6%" ></td>  
<td style="width:20%" >  </td>
                   
                </tr>
               
           }
               else
               {
            <tr>
                <td colspan="4">No Records Found</td>
            </tr>            
               }}
    </tbody>
</table>
</div>
         

<script type ="text/javascript">

    function SetPFVerified(DealerID ,  ID ,IsVerified ) {
        debugger;
         
        $.ajax({
            type: "POST",
            url: "@Url.Action("SetPFVerified", "Quotation")",  
            data: { DealerID: DealerID,  ID:ID ,IsVerified:IsVerified },
            success: function (data) { 
                alert(data);
                $("#divFollowUp").html("");
                $('#btnBankReceiptEnt').click();  
            },
            error: function () {
                alert(error);
            }
        }); 
    }

</script>